*.selectToClipboard: true

! special
*.foreground:   #878ba6
*.background:   #1e202f
*.cursorColor:  #878ba6
*.alpha:        0.9
*.alphaOffset:  0.3

! black
*.color0:       #1e202f
*.color8:       #4f5472

! red
*.color1:       #7586f5
*.color9:       #fe81b5

! green
*.color2:       #fb6fa9
*.color10:      #292c3d

! yellow
*.color3:       #ffb3d2
*.color11:      #444864

! blue
*.color4:       #8696fd
*.color12:      #5b6080

! magenta
*.color5:       #fb6fa9
*.color13:      #d2d8fe

! cyan
*.color6:       #a0acfe
*.color14:      #f764a1

! white
*.color7:       #878ba6
*.color15:      #ebedff
 
*font:          Cozette:style=Medium:size=8
