*.selectToClipboard: true

! special
*.foreground:   #ffffff
*.background:   #292929
*.cursorColor:  #ffffff
*.alpha:        0.9

! black
*.color0:       #f7a8b8
*.color8:       #f16a85

! red
*.color1:       #f6a2b3
*.color9:       #ef5775

! green
*.color2:       #f58fa3
*.color10:      #ee4466

! yellow
*.color3:       #f37c94
*.color11:      #ec3257

! blue
*.color4:       #86dcfd
*.color12:      #36c4fc

! magenta
*.color5:       #72d6fd
*.color13:      #22befc

! cyan
*.color6:       #55cdfc
*.color14:      #0eb8fb

! white
*.color7:       #4acafc
*.color15:      #04aef1

*font:          Cozette:style=Medium:size=8
